@media (max-width: 2000px) {
  :root {
    font-size: 16pt;
  }
  #mapa{
      transform: translate(-50%,-50%) rotate(90deg) scale(1.2);
  }
}

@media (max-width: 1300px) {
  :root {
    font-size: 12pt;
  }
  #mapa{
        transform: translate(-50%,-50%) rotate(90deg);
  }
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 2em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: green;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #333;
}

*::selection {
  color: auto;
  background: transparent;
}

body {
  display: grid;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  grid-template-rows: auto 1fr auto;
}
#pantallaApagado{
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: #000;
  z-index: 1000;
}
main {
  display: flex;
}

main>div {
  overflow: hidden;
  transition: width .5s ease-in-out;
}

#contactos hr {
  height: 1px;
  background: #d9d9d9;
  width: 80%;
  display: table;
  margin: 0 auto;
  border: none;
}

#notificaciones {
  display: flex;
  background: #fafafa;
}

#notificacionesDinamicas {
  display: flex;
  align-items: center;
  flex-grow: 10;
}

#notificacionesEstaticas {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: .5em 3em;
}

.battery-num {
  font-size: 0.6rem;
}

.reloj {
  padding: .5em 1em;
  font-size: 0.8rem;
}

#emergencias,
#apagado {
  justify-content: center;
  align-items: center;
  position: absolute;
  background: rgba(255,255,255,.9);
  width: 100%;
  height: 100vh;
  z-index: 2000;
}
#sistemaEntrada{
  position: absolute;
  z-index: 10000;
  width: 3em;
  height: 3em;
  top: 48%;
  left: 90%;
  transform: rotate(-90deg);
  box-shadow: 0 0 0.5em;
  border-radius: 4em;
  padding: .5em;
}
#emergencias_container {
  align-items: center;
  border-radius: 1rem;
  padding: 30px;
  height: 40%;
}

#emergencias_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emergencias_button {
  padding: 0.5rem 2rem;
  border: none;
  margin: 0 1em;
  border-radius: .5em;
  font-size: 1.2rem;
}

.mensaje-confirmacion {
  padding: 0.5rem 0;
  margin-bottom: 1.5em;
  font-size: 1.5rem;
  font-weight: bolder;
}

.contenedor-joystick {
  position: absolute;
  width: 18rem;
  height: 18rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #333;
  border-radius: 1em;
}

.contenedor-joystick>div {
  background: #333;
  width: 80%;
  height: 80%;
  border-radius: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-joystick>div>div {
  background: #fff;
  width: 85%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 85%;
  border: 4px solid #333
}

.contenedor-joystick>div>div:hover {
  transform: translateY(-30px);
}

.contenedor-joystick h1 {
  font-size: 4.5rem;
  text-align: center;
}

.contenedor-joystick h1 span {
  display: block;
  font-size: 1.4rem;
}

#menuPrincipal {
  display: flex;
  justify-content: center;
  background: #555;
  position: relative;
  top: 0%;
  transition: top .3s ease-in-out;
}

#menuPrincipal img {
  width: 3.8rem;
  margin: 1.5em 4em;
  padding: 1em;
  background: #fff;
  border-radius: 100em;
}

#menuPrincipal img[seleccionado]
{
  background-color: lightgreen;
  border: 2px solid;
  box-shadow: 0 0 1em #fff;
}

#mapa {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 291px;
  height: 415px;
  background: transparent;
  z-index: 100;
}

#mapa svg {
  transform: scale(.5);
  transform-origin: top left;
}

#mapa .relleno {
  position: relative;
}

#mapa .relleno .divrelleno {
  fill: transparent;
  fill-opacity: 1;
  stroke: #000000;
  stroke-width: 0;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
  position: absolute;
  z-index: 10;
}

#mapa .relleno:hover .divrelleno {
  fill: sandybrown;
  opacity: .5;
  z-index: 11;
}

#mapa .borde {
  fill: none;
  stroke: #000000;
  stroke-width: 8;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
  transition: stroke-dashoffset 2s ease-in-out;
}

#mapa p {
  position: absolute;
  top: 0;
  font-family: sans-serif;
  transform: rotate(-90deg);
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 0.6rem;
  color: #333;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  transform-origin: top left;
}

#PantallaSecundaria {
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
}
#PantallaSecundaria>.indicador-carpeta {
  padding: 0 2em;
  margin: 1em 0;
  color: #333;
  display: flex;
  align-items: center;
  overflow: hidden;
}
#PantallaSecundaria>.indicador-carpeta>h3 {
  text-transform: capitalize;
  font-size: 1rem;
}
#PantallaSecundaria>.indicador-carpeta>img{
  padding: 0 1em;
  position: relative;
  top: 0;
  transition: top .2s ease-in-out;
}

.categoria-menu {
  position: relative;
  display: none;
  height: 65vh;
  overflow: hidden;
}

/* ESTILOS BOCINA  */
.bocina:active
{
  box-shadow: 0 0 1rem green;
}
.bocina {
  width: 3rem;
  position: absolute;
  right: 2rem;
  top: 1rem;
  padding: .5rem;
  box-shadow: 0 0 0.2rem;
  border-radius: 3rem;
}



/* ESTILOS LISTA DE CONTACTOS */
.pantallas {
  height: 100%;
}

#contactos {
  height: 55vh;
  overflow-y: scroll;
  position: relative;
}

#contactos .letra {
  font-size: 1rem;
  padding: .5em 1em;
  font-weight: bold;
}
#contactos .nombre-contacto
#servicios .restaurantes .nombre-contacto{
  font-size: .9rem;
}
#contactos .contenedor-letra{
  display: table;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1em;
}

#contactos .contenedor-contactos,
#servicios .restaurantes .contenedor-contactos{
  border: 0.05rem solid #d9d9d9;
  border-radius: 0.7rem;
}
#servicios .restaurantes .contenedor-contactos{
  width: 17rem;
  height: max-content;
  margin: 0 auto;
}
#contactos .contacto,
#servicios .restaurantes .contacto {
  display: flex;
  padding: .5rem 1em;
  align-items: center;
}

/* .foto-listaContactos {
  width: 13%;
  float: left;
} */

/* ESTILOS UN SÓLO CONTACTO*/
.pantallas#llamada {
  justify-content: center;
  align-self: center;
}

#llamada {
  margin-top: 2.5rem;
}

#llamada h2{
  display: block;
  text-align: center;
  font-size: 1rem;
}
#llamada > p{
  text-align: center;
  line-height: 3em;
  font-size: .8rem;
}
#llamada>.imagen-contacto{
  text-align: center;
  padding: 1.5em 0;
}
#llamada>.imagen-contacto>*
{
  text-transform: uppercase;
  width: 2em;
  line-height: 2em;
  margin: 0 auto;
  text-align: center;
  border-radius: 2em;
  background: pink;
  font-size: 2.5rem;
}
#llamada .boton-colgar {
  display: block;
  margin: 2rem auto;
  border-radius: 2rem;
  background-color: #EA4335;
  width: 2.5rem;
  height: 2.5rem;
  padding: .5em;
}

#contactos .foto-contacto,
#servicios .restaurantes .foto-contacto{
  width: 2rem;
  line-height: 2rem;
  text-align: center;
  background: pink;
  border-radius: 2em;
  margin-right: 1em;
  font-size: 1rem;
  color: #555;
}


.contenedor-electrodomestico{
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
  align-items: center;
  z-index: 300;
}
.contenedor-vitro .cristal{
  width: 15rem;
  height: 11rem;
  margin: 0 auto;
  background: #333;
  position: relative;
  border-radius: 1.5em;
}
.contenedor-vitro .fuego
{
  position: absolute;
  background: #fff;
  border-radius: 7rem;
  background: radial-gradient(black, black 28%,white 32%,white 34%, black 36%, black 62%, white 67%);
}
.fuego[active] {
    background: radial-gradient(black, black 28%,lightgreen 32%,lightgreen 34%, black 36%, black 62%, lightgreen 67%);
}
.contenedor-vitro .fuego:nth-child(1)
{
  width: 5rem;
  height: 5rem;
  top: 10%;
  left: 10%;
}
.contenedor-vitro .fuego:nth-child(2)
{
  width: 4rem;
  height: 4rem;
  bottom: 6%;
  left: 33%;
}
.contenedor-vitro .fuego:nth-child(3)
{
  width: 5rem;
  height: 5rem;
  right: 10%;
  top: 16%;
}
.contenedor-vitro .controles>div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5em;
}
.contenedor-vitro .controles>div p{
  font-size: 3rem;
  font-weight: bolder;
  margin: 0 2rem;
  width: 7rem;
  text-align: center;
}
.contenedor-vitro .controles>div p.tiempo{
  font-size: 2rem;
}
.contenedor-vitro .controles>div img{
  width: 3rem;
  padding: .5rem;
  border-radius: 3rem;
  box-shadow: 0 0 .3rem;
}
/*ESTILOS PERSIANA*/
.contenedor-persiana .abierta {
    display: flex;
    align-items: center;
}
.contenedor-persiana .abierta>p
{
    margin-right: 1em;
}
.contenedor-persiana .abierta>div
{
    width: 50%;
    height: 40vh;
    border-radius: 10px;
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    margin: 0 auto;
    border: 4px solid;
}
.contenedor-persiana .abierta>div>div
{
    width: 100%;
    height: 0%;
    border-radius: 10px;
    background-image: repeating-linear-gradient(#333,#333 4px,white 4px,white 20px,#333 20px,#333 24px,transparent 24px,transparent 26px);
    transition: height .2s ease-in-out;
}
.contenedor-persiana img{
  width: 3rem;
  padding: .5rem;
  box-shadow: 0 0 0.3rem;
  border-radius: 3rem;
  margin: 0 .5rem;
}
.contenedor-persiana .botones-persiana{
  display: flex;
  justify-content: center;
}
/*ESTILOS COMBI*/
.contenedor-nevera,
.contenedor-termostato{
  grid-template-rows: auto auto 1fr;
}
.contenedor-microondas{
  grid-template-rows: auto 1fr;
}

.contenedor-tv{
  grid-template-rows: auto 1fr 1fr;
}
.contenedor-nevera .boton-apagado,
.contenedor-termostato .boton-apagado,
.contenedor-tv .boton-apagado{
  display: flex;
  margin: 0 auto;
  box-shadow: 0 0 0.5em #888;
  border-radius: 16em;
  margin: .5em auto;
  height: 2.5em;
  width: 2.5em;
  justify-content: center;
}
.contenedor-nevera .boton-apagado[encendido],
.contenedor-termostato .boton-apagado[encendido],
.contenedor-tv .boton-apagado[encendido] {
    box-shadow: 0 0 0.5em green;
    fill: green;
}
.contenedor-nevera .boton-apagado svg,
.contenedor-termostato .boton-apagado svg,
.contenedor-tv .boton-apagado svg{
  width: 1.5em;
}
.contenedor-nevera .boton-apagado p,
.contenedor-termostato .boton-apagado p,
.contenedor-tv .boton-apagado p{
  font-size: 0.6rem;
}
.contenedor-nevera .contenedor-mensaje,
.contenedor-termostato .contenedor-mensaje,
.contenedor-tv .contenedor-mensaje{
  height:100%;
}
.contenedor-nevera .contenedor-mensaje .mensaje,
.contenedor-termostato .contenedor-mensaje .mensaje,
.contenedor-tv .contenedor-mensaje .mensaje
{
  text-align: center;
  font-weight: bolder;
  font-size: 1rem;
  color: #9d9d9d;
  line-height: 1.5;
}
.contenedor-tv .contenedor-mensaje .mensaje{
  padding-bottom: 3em;
}
.contenedor-nevera .temperatura,
.contenedor-termostato .temperatura,
.contenedor-microondas>.tiempo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
}
.contenedor-nevera .contenedor-mensaje>p,
.contenedor-termostato .contenedor-mensaje>p
{
  text-align: center;
  line-height: 6;
}
.contenedor-nevera .temperatura img,
.contenedor-termostato .temperatura img,
.contenedor-microondas .tiempo img{
  width: 3rem;
  height: 3rem;
  padding: .5rem;
  box-shadow: 0 0 .5em #999;
  border-radius: 3rem;
}
.contenedor-nevera>p,
.contenedor-termostato>p
{
  text-align: center;
  color: #9d9d9d;
  line-height: 5;
}
.contenedor-microondas .display-tiempo{
  display: flex;
}
.contenedor-nevera .temperatura p,
.contenedor-termostato .temperatura p,
.contenedor-microondas .display-tiempo{
  font-size: 4rem;
  font-weight: bolder;
  padding: 0 1em;
}
.contenedor-microondas .acciones{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 6em;
}
.contenedor-microondas .acciones img{
  width: 2.5rem;
  padding: .5rem;
  border-radius: 2.5rem;
  box-shadow: 0 0 .2rem;
  margin: 0 .3em;
  display: none;
}

.contenedor-termostato .contenedor-botones {
    direction: rtl;
}

.contenedor-termostato .contenedor-botones img {
    width: 2.5rem;
    padding: .5rem;
    border-radius: 3rem;
    box-shadow: 0 0 0.3rem #555;
    margin-right: 1em;
}
.contenedor-termostato .toggle{
  width: 2em;
  height: 1em;
  border: 1.2px solid #555;
  border-radius: 1em;
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.contenedor-termostato .toggle>div{
  width: 1.2em;
    height: 1.2em;
    border: 1.2px solid #555;
    border-radius: 1.2em;
    position: relative;
    left: 00%;
    transform: translateX(-50%);
    background: #fff;
    transition: left .2s ease-in-out;
}
.contenedor-termostato .toggle[activo]
{
  background: lightgreen;
}
.contenedor-termostato .toggle[activo]>div
{
  left:100%;
}
.contenedor-termostato .nuevo-programa
{
  position: absolute;
  width: 100%;
  height: 100%;
  background:#fff;
  display: none;
  z-index: 2;
}
.contenedor-termostato .nuevo-programa h2{
  margin-bottom: .5em;
  padding: 0 2em;
}
.contenedor-termostato .nuevo-programa input
{
  font-size: 1rem;
  border: none;
}
.contenedor-termostato .nuevo-programa label{
  display: block;
  font-size: .8rem;
  line-height: 2.5;
  font-weight: bolder;
}
.contenedor-termostato .nuevo-programa>div
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-termostato .nuevo-programa>div>div
{
  padding: 1rem 2rem;
}
.contenedor-termostato .nuevo-programa>div>p
{
  padding: .5rem;
}
.contenedor-termostato .nuevo-programa .contenedor-botones{
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  direction: ltr;
}
.contenedor-termostato .nuevo-programa .contenedor-botones button
{
  padding: .5rem 3rem;
  border: none;
  font-size: .8rem;
  font-weight: bold;
  margin: 0 1em;
}
input#programa-menu:checked ~ .contenedor-mensaje {
    padding: 0;
}

.programa {
    display: flex;
    align-items: center;
    width: max-content;
    margin: 0 auto;
    border: 1.5px solid #eaeaea;
    border-radius: 1em;
    padding: .5em;
    margin-top: 0.2em;
}
.programa p {
    padding-right: 2em;
}
.programa .hora{
    font-size: .9rem;
    font-weight: bold;
}
.programa .fecha
{
  font-size: .7rem;
  color: #aaa;
}
p.display-temperatura {
    font-size: 2rem;
    font-weight: bold;
    padding: 0 1em;
}

.contenedor-programas {
    height: 100%;
    overflow-y: scroll;
    max-height: 35vh;
    width: max-content;
    margin: 0 auto;
    padding-right: 1em;
}
.contenedor-termostato .nuevo-programa img {
    width: 2.5rem;
    height: 2.5rem;
    padding: .5rem;
    border-radius: 3rem;
    box-shadow: 0 0 0.2rem;
}
.contenedor-termostato .nuevo-programa .display-temperatura{
  font-size: 3rem;
  font-weight: bolder;
  padding: 0 1em;
}
/*ESTILOS TV*/
.contenedor-tv .mando{
  display: grid;
  grid-template-columns: repeat(5, 3.5rem);
  grid-template-rows: repeat(4, 3rem);
  justify-content: center;
  justify-items: center;
  font-size: 1rem;
  padding-bottom: 1.5em;
}
.contenedor-tv .mando>div
{
  width: 100%;
  height: 100%;
  text-align: center;
}
.contenedor-tv .mando div>p{
  text-align: center;
  line-height: 3rem;
}
.contenedor-tv .mando .boton img {
  position: relative;
  height: 100%;
  width: 1.2rem;
}
.contenedor-tv .mando>div>div
{
  height: 100%;
}
.contenedor-tv .mando>div>div>img{
  height: 50%;
  width: 1.1rem;
}
.contenedor-tv .boton {
	background-color: #D9D9D9;
	width: 80% !important;
  font-size: .7rem;
}

.contenedor-tv .boton_arriba {
	text-align: center;
	border-top-left-radius: .7em;
	border-top-right-radius: .7em;
}

.contenedor-tv .boton_abajo {
	text-align: center;
	border-bottom-left-radius: .7em;
	border-bottom-right-radius: .7em;
}
.contenedor-tv .letrero {
  line-height: 1rem !important;
  font-size: 0.5rem;
}
.contenedor-tv .contenedor-mensaje{
    margin: 0 7em;
  }
.contenedor-tv .contenedor-mensaje p {
    font-size: 1rem;
}

.contenedor-tv .contenedor-mensaje span {
    font-weight: bolder;
}

.contenedor-tv .volumen {
    display: flex;
    align-items: center;
}
.contenedor-tv .volumen>p
{
    margin-right: 1em;
}
.contenedor-tv .volumen>div
{
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background: #f1f1f1;
}
.contenedor-tv .volumen>div>div
{
    width: 0%;
    height: 100%;
    border-radius: 10px;
    background: #888;
    transition: width .5s ease-in-out;
}

/*ESTILOS TELEFONO*/

.teclado {
  display: grid;
  grid-template-columns: repeat(3, 3.5rem);
  grid-template-rows: repeat(4, 2.5rem);
  align-items: center;
  justify-content: center;
}

.teclado button {
  background: transparent;
  border: none;
}

.teclado button:focus {
  outline: none;
}

.teclado button .numero {
  font-size: 1rem;
}

.teclado button .letras {
  font-size: 0.4rem;
  color: #555;
}
#teléfono {
  grid-template-rows: auto 1fr;
}
#teléfono .inputNumero {
  display: flex;
  justify-content: center;
}
#teléfono .pantalla-menu{
  display: none;
}
.inputNumero p {
  font-size: 1.4rem;
  font-weight: bolder;
  text-align: center;
  line-height: 3;
}
#teléfono .contenedor-botones {
  padding: 1em 0;
  padding-bottom: 2em;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 180px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 3.5rem);
}

#teléfono .contenedor-botones>* {
  display: table;
  margin: 0 auto;
}
#teléfono #telefonia
{
  display: grid;
  height: 100%;
  align-content: end;
  position: relative;
}
#teléfono svg#btn-borrar {
  width: 1.5em;
  height: 1.5em;
  display: none;
}

#teléfono #iconoLlamar {
  background: green;
  padding: 0.5em;
  width: 2.3em;
  height: 2.3em;
  border-radius: 3em;
}

.menu-telefono,
.menu-nevera,
.menu-termostato,
.menu-peliculas,
.contenedor-microondas .controles>div{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform .2s ease-in-out;
  padding: .5em 0;
}

.menu-telefono input[type="radio"],
.menu-nevera input[type="radio"],
.menu-termostato input[type="radio"],
.menu-peliculas input[type="radio"],
.contenedor-microondas .controles input[type="radio"]
 {
  display: none
}

.menu-telefono label,
.menu-nevera label,
.menu-termostato label,
.menu-peliculas label,
.contenedor-microondas .controles label{
    margin: 0 1em;
    box-shadow: 0 0 0.2em;
    padding: .5em;
    border-radius: 1em;
    font-size: .8rem;
}

.menu-telefono input[type="radio"]:checked+label,
.menu-nevera input[type="radio"]:checked+label,
.menu-termostato input[type="radio"]:checked+label,
.menu-peliculas input[type="radio"]:checked+label,
.contenedor-microondas .controles input[type="radio"]:checked+label{
  color: green;
}
.contenedor-microondas .controles input[type="radio"]:checked+label{
  box-shadow: 0 0 0.5em;
}
.contenedor-microondas .controles{
  width: 60%;
  margin: 0 auto;
  padding-bottom: 1.5em;
}
.contenedor-microondas .controles>p
{
  font-weight: bolder;
  padding-top: .5em;
  font-size: .8rem;
}
.contenedor-microondas .controles label {
    line-height: 2.8rem;
    width: 3.5rem;
    border-radius: 20em;
    text-align: center;
}

.contenedor-microondas .controles>div {
    padding: .5em 0;
}
/*ESTILOS PARTE DOMOTICA*/
#ventanaEstancia {
  background: #fff;
  position: absolute;
  z-index: 200;
  display: none;
  grid-template-columns: repeat(3, 8rem);
  grid-auto-rows: min-content;
  justify-content: center;
  justify-self: center;
  width: 100%;
  height: 100%;
}

#ventanaEstancia>div {
  padding: 0.5em;
  text-align: center;
}

#ventanaEstancia>div>img {
  width: 3.5em;
}

#ventanaEstancia>div>h4 {
  font-size: 0.9rem;
}

#ventanaEstancia>div>p {
  font-size: 0.7rem;
}

#domótica .contenedor-telefonillo .camara{
  width: 50%;
  margin: 0 auto;
}
#domótica .contenedor-telefonillo .camara h2{
  padding-left: 1em;
  font-size: 1.2rem;
  color: #666;
  line-height: 2;
}
#domótica .contenedor-telefonillo .camara img{
  width: 100%;
  border-radius: 1rem;
}
#domótica .contenedor-telefonillo .puertas
{
  display: flex;
  justify-content: center;
  text-align: center;
}
#domótica .contenedor-telefonillo .puertas>div
{
  padding: 0 2rem;
}
#domótica .contenedor-telefonillo .puertas img
{
  width: 3.5rem;
}
#domótica .contenedor-telefonillo .codigo
{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 500;
  grid-template-rows: auto 1fr;
}
#domótica .contenedor-telefonillo .codigo .puntitos{
  display: flex;
  justify-content: center;
  padding: .5rem 0;
}
#domótica .contenedor-telefonillo .codigo .puntitos>div {
  width: 1rem;
  height: 1rem;
  border: 4px solid;
  border-radius: 1rem;
  margin: 0.5rem;
}
#domótica .contenedor-telefonillo .codigo .puntitos>div[activo] {
  background: #333;
}
#domótica .contenedor-telefonillo .codigo>div{
  text-align: center;
  padding: 1rem 0;
}
#domótica .contenedor-telefonillo .codigo>div>img{
  width: 5rem;
}
#domótica .contenedor-telefonillo .codigo .teclado
{
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: center;
    grid-auto-rows: max-content;
    grid-gap: 5px;
}
#domótica .contenedor-telefonillo .codigo .teclado p
{
  padding: 0 1rem;
  line-height: 2.5rem;
  font-size: 1.5rem;
}
/*ESTILOS DE LOS SERVICIOS*/

/* SELECCION DE SERVICIO*/
#servicios .botones
{
  display: grid;
  grid-auto-rows: max-content;
  justify-content: center;
}
#servicios .botones button
{
  margin: 1rem;
  font-size: .6rem;
  padding: .2rem 1rem;
  border-radius: .5rem;
  box-shadow: 0 0 0.5rem;
  border: none;
  background: transparent;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 3;
}
#servicios .botones button img
{
  display: table;
  margin: 0 auto;
  width: 3rem;
}
/* PELICULAS */

#servicios .netlis,
#servicios .restaurantes {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
  background: #fff;
}
#servicios .netlis
{
  grid-template-rows: auto 1fr;
}
#servicios .netlis .sub-menu.biblioteca,
#servicios .netlis .sub-menu.peliculas,
#servicios .netlis .sub-menu.series
{
  display: grid;
  grid-template-columns: repeat(4,auto);
  overflow-y: scroll;
  height: 55vh;
  justify-content: center;
  grid-gap: 1em;
  padding-top: 1em;
}
#servicios .netlis .sub-menu.peliculas,
#servicios .netlis .sub-menu.series
{
  display: none;
}

.pelicula {
    text-align: center;
}

.pelicula img {
    border-radius: .7em;
    height: 9em;
}

.pelicula p.nombre {
    font-size: .8rem;
    font-weight: bold;
}

.pelicula p.caducidad {
    font-size: .7rem;
    color: #9d9d9d;
}
.pantalla-pelicula
{
  position: absolute;
  background: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: auto 1fr;
}
.pantalla-pelicula .cartel{
  padding: 2em;
}
.pantalla-pelicula .cartel img{
  width: 9rem;
  border-radius: 1rem;
}
.pantalla-pelicula .datos{
  padding: 2.5em 0em;
}
.pantalla-pelicula .datos button{
  margin-top: 2em;
  display: table;
  width: 9rem;
  padding: 1em 0;
  background: transparent;
  border: none;
  box-shadow: 0 0 0.5em;
  border-radius: 4rem;
  text-transform: uppercase;
  font-weight: bold;
}
.pantalla-pelicula .datos .titulo
{
  font-size: 2rem;
  line-height: 1.7;
}
.pantalla-pelicula .datos .año
{
  font-size: .9rem;
  color: #888;
}
.pantalla-pelicula .datos .descripcion
{
  font-size: .8rem;
  color: #555;
  padding: 1em;
  width: 20rem;
  text-align: justify;
}
.pantalla-pelicula .datos button{
  color: #888;
}
.pantalla-pelicula .datos button span{
  font-size: 1rem;
  margin-right: 1em;
}
