*{
	margin: 0;
	padding: 0;

	box-sizing: border-box;

	font-family: sans-serif;
	color: #333;
}
*::selection{
    color: auto;
    background: transparent;
}
body
{
	display: grid;
	width: 100%;
	height: 100vh;
	overflow: hidden;

	grid-template-rows: auto 1fr auto;
}
main
{
	display: flex;
}
main>div
{
	overflow: hidden;
	
	transition: width .5s ease-in-out;
}

#notificaciones{
	display: flex;
    background: #fafafa;
}
#notificacionesDinamicas{
	display: flex;
	align-items: center;
	flex-grow:	10;

}
#notificacionesEstaticas{
	display: flex;
	align-items: center;
	justify-content: right;
	padding: .5em 3em;
}

.battery-num{
	font-size: 10pt;
}
.reloj{
	padding: .5em 1em;
	font-size: 14pt;
}


.contenedor-joystick
{
    position: absolute;
    /* display: table; */
    width: 300px;
    height: 300px;
    /* margin: 0 auto; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #333;
    border-radius: 20px;
}
.contenedor-joystick>div
{
    background: #333;
    width: 70%;
    height: 70%;
    border-radius: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-joystick>div>div
{
    background: #fff;
    width: 85%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 85%;
    cursor: pointer;
}

.contenedor-joystick>div>div:hover
{
	transform: translateY(20px);
}
.contenedor-joystick h1
{
	font-size: 63pt;
    text-align: center;
    cursor: pointer;
}
.contenedor-joystick h1 span
{
	display: block;
    font-size: 18pt;
    cursor: pointer;
}
#menuPrincipal 
{
    display: flex;
    justify-content: center;

    background: cadetblue;
}

#menuPrincipal img 
{
	width: 70px;
	margin: 1.5em 4em;
	padding: 1em;

    background: #fff;
    border-radius: 100px;
    
    cursor: pointer;
}

#mapa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 291px;
    height: 415px;
    background: transparent;
}
#mapa svg{    
    transform: scale(.5);
    transform-origin: top left;
}
#mapa .relleno{
    position: relative;
}
#mapa .relleno .divrelleno
{
    fill: transparent;
    fill-opacity:1;
    stroke:#000000;
    stroke-width:0;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-opacity:1;
    position: absolute;
    z-index: 10;
}
#mapa .relleno:hover .divrelleno
{
    fill: sandybrown;
    opacity: .5;
    z-index: 11;
}
#mapa .borde{
    fill:none;
    stroke:#000000;
    stroke-width:8;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-opacity:1;
    transition: stroke-dashoffset 2s ease-in-out;
}
#mapa p{
    position: absolute;
    top: 0;
    font-family: sans-serif;
    transform: rotate(-90deg);
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 10pt;
    color: #333;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#PantallaSecundaria{
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr;
}
#PantallaSecundaria>.indicador-carpeta>h3
{
    text-transform: capitalize;
}
.categoria-menu{
    position: relative;
    display: none;
    height: 100%;
    overflow: hidden;
}


/*ESTILOS TELEFONO*/
.indicador-carpeta{
    padding: 1em 2em;
    color: #333;
}
.teclado{
    display: grid;
    grid-template-columns: repeat(3,80px);
    grid-template-rows: repeat(4,50px);
    align-items: center;
    justify-content: center;
}
.teclado button {
    background: transparent;
    border: none;
}
.teclado button:focus{
    outline: none;
}
.teclado button .numero{
   font-size: 16pt;
}
.teclado button .letras{
   font-size: 7pt;
   color: #555;
}
#teléfono .inputNumero {
    display: flex;
    justify-content: center;
}
.inputNumero p {
    font-size: 22pt;
    font-weight: bolder;
    text-align: center;
    line-height: 3;
    padding-top: 6%;
}
#teléfono .contenedor-botones {
    padding: 1em 0;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 180px;
    margin: 0 auto;
    grid-template-columns: repeat(3,80px);
}
.contenedor-botones>* {
    display: table;
    margin: 0 auto;
}
#teléfono svg#btn-borrar {
    width: 30px;
    height: 30px;
}
#teléfono #iconoLlamar {
    background: green;
    padding: 0.5em;
    width: 50px;
    height: 50px;
    border-radius: 60px;
}
.menu-telefono{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform .2s ease-in-out;
}
.menu-telefono input[type="radio"]
{
    display: none
}
.menu-telefono label{
    font-size: 12pt;
    margin:0 2em;
}
.menu-telefono input[type="radio"]:checked + label {
    font-weight: bolder;
    color: green;
    border-bottom: 5px dotted;
}

#emergencias_container{
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #545154;
    width: 415px;
    height: 210px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px; /*Adaptar esto a lo que necesite para la ventana*/
    font-size: larger;
}

.center{
    margin: 0px 25px;
}

#emergencias_buttons{
    margin: 15px;
}

.emergencias_button{
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border: 0px solid #faf5fa;
    width: 50px;
    height: 30px;
    font-weight: 600;
    color: white;
}